.card > .card-img-top {
    transform: scale(0.96);
    transition: 700ms;
    transition-timing-function: ease-out;
}
.card:hover > .card-img-top {
    transform: scale(1) translateY(-3px);
    transition: 300ms;
    transition-timing-function: ease-in;
}

/* Minor fixes */
