@font-face {
    font-family: "Epilogue";
    src: url("fonts/Epilogue.ttf") format("truetype-variations");
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: "Big Shoulders Text";
    src: url("fonts/BigShouldersText.ttf") format("truetype-variations");
    font-weight: 100 900;
    font-style: normal;
}


/* Font for all elements */
* {
    font-family: Epilogue;
    font-weight: 500;
}
/* Font for headers */
.header { font-family: 'Big Shoulders Text'; }

/* Hide page scrollbar */
body::-webkit-scrollbar {display: none;}

/* Debug class */
.d {border: solid 1px green;}

/* STYLE */
[class^="btn"],
.input-group-text,
input:not([type='radio']) {
    border-radius: 0 !important;
}


.icon {
    font-family: icon;
    font-size: large;
    font-weight: bold;
}
.btn > .icon {
    font-size: medium;
    margin-left: 15px;
}


/* Extra large font sizes */
.fsx-1 {font-size: 5.0rem;}
.fsx-2 {font-size: 4.5rem;}
.fsx-3 {font-size: 4.0rem;}
.fsx-4 {font-size: 3.5rem;}
.fsx-5 {font-size: 3.0rem;}

/* Icon sizes */
.fis-1::before {font-size: 2.0rem;}
.fis-2::before {font-size: 1.8rem;}
.fis-3::before {font-size: 1.6rem;}
.fis-4::before {font-size: 1.4rem;}
.fis-5::before {font-size: 1.2rem;}

/* Dimensions */
.w-max {width: max-content;}
.h-max {height: max-content;}
.w-min {width: min-content;}
.h-min {height: min-content;}
.w-fit {width: fit-content;}
.h-fit {height: fit-content;}

/* MINOR FIXES */
.bi-chevron-right::before,
.fi::before {
    display: inline-block;
    transform: translateY(1px);
}
.fi-brands-samsung {margin: 0px 35px;}
.fi-brands-samsung::before {
    position: absolute;
    transform: translate(-32px, -25px);
    font-size: 4rem;
}


/* Hide input:number buttons */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}